.about {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  @media (min-width: 360px) {
    width: 80%;
  }
  @media (min-width: 768px) {
    width: 60%;
  }
  @media (min-width: 1366px) {
    width: 40%;
  }
  @media (min-width: 1600px) {
    width: 40%;
  }

  .about__container {
    margin: 30px 10px 20px 10px;
    font-size: 20px;
    font-family: "Mansalva", cursive;
    @media (min-width: 360px) {
      font-size: 20px;
    }
    @media (min-width: 768px) {
      font-size: 24px;
    }
    @media (min-width: 1366px) {
      font-size: 26px;
    }
    @media (min-width: 1600px) {
      font-size: 30px;
    }
  }
  .about__image {
    min-width: 20%;
    max-width: 40%;
    border-radius: 50px;
  }

  .about__image-first {
    float: left;
    margin-right: 20px;
  }

  .about__image-second {
    float: right;
    margin-left: 20px;
  }
}
