.main__start {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 83vh;

  .start__image {
    max-height: 40%;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 90%;

    @media (min-width: 360px) {
      width: 90%;
    }
    @media (min-width: 768px) {
      width: 60%;
    }
    @media (min-width: 1366px) {
      width: 50%;
    }
    @media (min-width: 1600px) {
      width: 30%;
    }
  }

  .start__abilities {
    background-color: black;
    flex-basis: 80%;
    height: 20vh;
    opacity: 0.5;
    border-radius: 35px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
    padding-top: 20px;
    margin-bottom: 50px;
    @media (min-width: 360px) {
      font-size: 20px;
    }
    @media (min-width: 768px) {
      font-size: 20px;
    }
    @media (min-width: 1366px) {
      font-size: 30px;
    }
    @media (min-width: 1600px) {
      font-size: 40px;
    }
  }
}
