.container {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
}
.header {
  width: 100%;
  height: 7vh;
}

.main {
  display: flex;
  width: 90%;
  flex-grow: 1;
  justify-content: center;
}
.footer {
  height: 10vh;
  flex-basis: 100%;
}
